a.btn.btn-secondary.buttons-excel.buttons-html5 {
    z-index: -1;
}

.my-custom-scrollbar {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: auto;
}

#qrcode {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

#barcode {
    width: 100%;
}

#GetQRCode {
    margin-top: 100px;
}
