<div class="modal fade text-left" id="view-transaction-input" role="dialog" aria-labelledby="add-food-data" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="add-food-data">Transaction Input</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form form-horizontal" novalidate id="formViewDetail">
                    <div class="form-body">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <textarea class="form-control" rows="10" type="text" id="transactionInput" readonly></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>