@{
    Layout = null;
}
<!DOCTYPE html>
<html class="loaded" lang="en" data-textdirection="ltr">
<head>
    <title>Đăng ký Thông tin - Food Tracking</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/app-assets/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/font-awesome/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/home/util.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/extensions/toastr.css">
    <link rel="stylesheet" type="text/css" href="~/css/home/login.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/forms/selects/select2.min.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 col-5">
                <div class="login100-form validate-form col-12">
                    <span class="login100-form-title">
                        <b>Đăng Ký Thông tin</b>
                    </span>
                    <span class=""><i class="fa fa-user" aria-hidden="true"></i> Thông tin người dùng</span>
                    <hr />
                    <div class="wrap-input100 validate-input" data-validate="Vui lòng nhập tài khoản">
                        <input id="txtUsername" class="input100" type="text" name="txtUsername" placeholder="Tài Khoản">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Vui lòng nhập Mật khẩu">
                        <input id="txtPassword" class="input100" type="password" name="txtPassword" placeholder="Mật khẩu">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Vui lòng Họ và Tên">
                        <input id="txtFullname" class="input100" type="text" name="fullname" placeholder="Họ và Tên">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </span>
                    </div>
                    <hr />
                    <div class="wrap-input100 validate-input" data-validate="Vui lòng nhập Email">
                        <input id="txtEmail" class="input100" type="text" name="email" placeholder="Email">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Vui lòng nhập Số Điện Thoại">
                        <input id="txtPhone" class="input100" type="text" name="phone" placeholder="Số Điện Thoại">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </span>
                    </div>
                    <span class=""><i class="fa fa-building-o" aria-hidden="true"></i> Thông tin cơ sở</span>
                    <hr />
                    <div class="wrap-input100 validate-input" data-validate="Vui lòng nhập Tên cơ sở">
                        <input id="txtPremisesName" class="input100" type="text" name="txtPremisesName" placeholder="Tên cơ sở">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-building" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Vui lòng nhập Địa chỉ cơ sở">
                        <input id="txtPremisesAddress" class="input100" type="text" name="txtPremisesAddress" placeholder="Địa chỉ cơ sở">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Vui lòng nhập Số Điện Thoại">
                        <div>
                            <fieldset class="form-group position-relative">
                                <select id="dllPremisesType" class="input100" required>
                                    <option value="0" selected="" disabled="">Loại cơ sở</option>
                                    <option value="1">Nông trại</option>
                                    <option value="2">Nhà cung cấp</option>
                                    <option value="3">Nhà phân phối</option>
                                </select>
                            </fieldset>
                        </div>
                    </div>

                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>

                <div class="login100-form-btn validate-form">
                    <button id="createNewRegisterInfoBtn" class="login100-form-btn">
                        Đăng Ký
                    </button>
                </div>
                <div class="text-center p-t-136">
                    <a class="txt2" asp-controller="Home" asp-action="Login">
                        Đăng nhập
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/app-assets/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/app-assets/vendor/bootstrap/js/popper.js"></script>
    <script src="~/app-assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/app-assets/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/app-assets/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <!-- BEGIN VENDOR JS-->
    <script src="~/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script type="text/javascript" src="~/app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <script type="text/javascript" src="~/app-assets/vendors/js/forms/repeater/jquery.repeater.min.js"></script>
    @*<script type="text/javascript" src="~/app-assets/vendors/js/forms/validation/jqBootstrapValidation.js"></script>*@
    <script type="text/javascript" src="~/app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/js.cookie.js"></script>
    <script type="text/javascript" src="~/lib/jwt-decode.min.js"></script>
    <script src="~/app-assets/vendors/js/forms/icheck/icheck.min.js" type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN ROBUST JS-->
    <script src="~/app-assets/js/core/app-menu.js" type="text/javascript"></script>
    <script src="~/app-assets/js/core/app.js" type="text/javascript"></script>
    <script src="~/app-assets/js/scripts/format/jquery-dateformat.js" type="text/javascript"></script>
    <script src="~/app-assets/js/scripts/customizer.js" type="text/javascript"></script>
    <!-- END ROBUST JS-->
    <!-- MY JS-->
    <script src="~/js/constant/app-constant.js" type="text/javascript"></script>
    <script src="~/js/common/common.js" type="text/javascript"></script>
    <script src="~/js/home/createRegInfo.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/extensions/toastr.min.js" type="text/javascript"></script>
</body>
</html>

<style>
    .select-selected {
        background-color: DodgerBlue;
    }

        .select-selected:after {
            position: absolute;
            content: "";
            top: 14px;
            right: 10px;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-color: #fff transparent transparent transparent;
        }
</style>