@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
    <!-- BEGIN PAGE VENDOR JS-->
    <script type="text/javascript" src="~/app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.min.js" type="text/javascript"></script>
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/app-assets/js/scripts/tables/datatables/datatable-basic.js"
            type="text/javascript"></script>
    <!-- END PAGE LEVEL JS-->
    <script src="~/js/admin/UserManagement.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/extensions/toastr.min.js" type="text/javascript"></script>

}