
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@using System.Security.Claims;
@{
    ViewData["Title"] = "Cập nhật thông tin";

}
<head>
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/vendors.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/extensions/toastr.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/file-uploaders/blueimp-gallery.min.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/file-uploaders/jquery.fileupload.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/file-uploaders/jquery.fileupload-ui.css">
    <!-- END VENDOR CSS-->
    <style>
        .label-control {
            font-weight: bold
        }

        .avatar-wrapper {
            position: relative;
            height: 200px;
            width: 200px;
            margin: 50px auto;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 1px 1px 15px -5px black;
            transition: all 0.3s ease;
        }

            .avatar-wrapper:hover {
                transform: scale(1.05);
                cursor: pointer;
            }

                .avatar-wrapper:hover .profile-pic {
                    opacity: 0.5;
                }

            .avatar-wrapper .profile-pic {
                height: 100%;
                width: 100%;
                transition: all 0.3s ease;
            }



            .avatar-wrapper .upload-button {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }

                .avatar-wrapper .upload-button .fa-arrow-circle-up {
                    position: absolute;
                    font-size: 234px;
                    top: -17px;
                    left: 0;
                    text-align: center;
                    opacity: 0;
                    transition: all 0.3s ease;
                    color: #34495e;
                }

                .avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
                    opacity: 0.5;
                }
    </style>
</head>

<section id="horizontal-form-layouts">
    <div class="row" id="updateInfo">
        <div class="col-md-12">
            <div class="card">

                <div class="card-content collpase show">
                    <div class="card-body">
                        <form class="form form-horizontal">
                            <div class="form-body">
                                <h4 class="form-section">Thông tin người dùng</h4>
                                <div class="form-group row">
                                    <div class="col-md-9">
                                        <input type="hidden" id="userId" class="form-control" name="userId">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4 col-sm-8">
                                        <div class="avatar-wrapper">
                                            <img id="profile-ava" class="profile-pic" src="" />
                                            <div class="upload-button">
                                                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                                            </div>
                                            <input id="txtAvatar" class="file-upload" type="file" accept="image/*" />
                                        </div>
                                        <div class="form-group row">
                                            <font style="font-style:italic;margin-left:27%">(nhấn vào hình để thay đổi)</font>
                                        </div>
                                    </div>

                                    <div class="col-md-8 col-sm-4">
                                        <h4 class="form-section"><i class="fa fa-user-plus"></i>cá nhân</h4>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="projectinput2">Tài khoản</label>
                                            <div class="col-md-3">
                                                <label id="UserName" name="UserName"></label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="projectinput2">Họ Và Tên</label>
                                            <div class="col-md-3">
                                                <label id="FullName" name="FullName"></label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="projectinput3">E-mail</label>
                                            <div class="col-md-3">
                                                <label id="Email" name="Email"></label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="projectinput4">Số Điện Thoại</label>
                                            <div class="col-md-3">
                                                <label id="Phone" name="Phone"></label>
                                            </div>
                                        </div>
                                        <h4 class="form-section"><i class="fa fa-user-circle-o"></i>Tài khoản</h4>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="projectinput4">Vai Trò</label>
                                            <div class="col-md-3">
                                                <label id="txtRole" name="txtRole"></label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="projectinput4">Trạng Thái</label>
                                            <div class="col-md-3">
                                                <label id="txtStatus" name="txtStatus"></label>
                                            </div>
                                        </div>
                                        <h4 id="h4Premises" class="form-section" style="visibility:hidden;"><i class="fa fa-home"></i>Cơ sở</h4>
                                        <div class="form-group row">
                                            <label id="PremisesName" style="visibility:hidden;" class="col-md-3 label-control" for="txtPremisesName">Tên Cơ sở</label>
                                            <div class="col-md-6">
                                                <label id="txtPremisesName" name="txtPremisesName"></label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label id="PremisesType" style="visibility:hidden;" class="col-md-3 label-control" for="txtPremisesType">Loại Cơ sở</label>
                                            <div class="col-md-6">
                                                <label id="txtPremisesType" name="txtPremisesType"></label>
                                            </div>
                                        </div>

                                        <div class="form-group row height-100">
                                            <div class="col-md-4 form-group">
                                                <button style="margin-left:30%" type="button" class="btn btn-primary" data-toggle="modal" data-target="#changePassModal">
                                                    <i class="fa fa-refresh"></i>  Đổi mật khẩu
                                                </button>
                                            </div>
                                            <div class="col-md-5 form-group">
                                                <button id="loadModal" data-toggle="modal" data-target="#confirm" type="button" class="btn btn-primary">
                                                    <i class="fa fa-check-square-o"></i> Thay đổi thông tin người dùng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal Confirm -->
<div class="modal fade text-left" id="confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="statusLabel1">Cập nhật thông tin người dùng</h4>
                <input type="hidden" id="txtUserId" class="form-control">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-md-3 label-control" for="projectinput2">Họ Và Tên</label>
                    <div class="col-md-9">
                        <input type="text" id="txtFullName" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 label-control" for="projectinput3">E-mail</label>
                    <div class="col-md-9">
                        <input type="text" id="txtEmail" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 label-control" for="projectinput4">Số Điện Thoại</label>
                    <div class="col-md-9">
                        <input type="text" id="txtPhone" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="confirmSaveButton" type="button" class="btn btn-outline-primary">Xác nhận</button>
                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal ChangePass -->
<div class="modal fade text-left" id="changePassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="statusLabel1">Đổi mật khẩu</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <!--id người dùng-->
                                    <input type="hidden" id="txtUserIdPass" class="form-control" name="txtUserIdPass">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" id="RoleOption">
                                    <label for="projectinput1">Mật khẩu cũ</label>
                                    <input type="password" id="txtOldPass" class="form-control" name="txtOldPass">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" id="RoleOption">
                                    <label for="projectinput1">Mật khẩu mới</label>
                                    <input type="password" id="txtNewPass" class="form-control" name="txtNewPass">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" id="RoleOption">
                                    <label for="projectinput1">Xác nhận Mật khẩu mới</label>
                                    <input type="password" id="txtConfirmNewPass" class="form-control" name="txtConfirmNewPass">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="changePassButton" type="button" class="btn btn-outline-primary">Xác nhận</button>
                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <!-- BEGIN PAGE VENDOR JS-->
    <script type="text/javascript" src="~/app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.min.js" type="text/javascript"></script>
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/app-assets/js/scripts/tables/datatables/datatable-basic.js"
            type="text/javascript"></script>
    <!-- END PAGE LEVEL JS-->
    <script src="~/js/user/user.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/extensions/toastr.min.js" type="text/javascript"></script>
    <script src="../../../app-assets/js/scripts/extensions/jquery-file-upload.js" type="text/javascript"></script>



}