<div class="modal fade text-left" id="manageFeedingModal"role="dialog" aria-labelledby="feeding-manage" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Quản lý thức ăn</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 contact-repeater" id="repeaterId">
                    <div id="feedingList">

                    </div>
                    <button type="button" id="btnAddFeeding" class="btn btn-primary"><i class="ft-plus"></i> Thêm thức ăn</button>
                </div>
                <div id="mng-feeding-error">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-outline-primary" id="btnConfirmSaveFeeding">Xác nhận</button>
            </div>
        </div>
    </div>
</div>