<div class="modal fade text-left" id="view-food-data" role="dialog" aria-labelledby="add-food-data" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="add-food-data">Thêm thông tin thực phẩm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form form-horizontal" novalidate id="formViewDetail">
                    <div class="form-body">
                        <h4 class="form-section"><i class="ft-info"></i> Thông Tin Thực Phẩm</h4>
                        <div class="row form-group">
                            <label class="col-md-2 label-control" for="txtFoodId">Mã</label>
                            <div class="col-md-10">
                                <input class="form-control" type="text" name="txtFoodId" id="txtFoodIdView" readonly />
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-2 label-control" for="txtFoodId">Loại</label>
                            <div class="col-md-10">
                                <input class="form-control" type="text" name="txtFoodCategory" id="txtFoodCategoryView" readonly />
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-2 label-control" for="txtFoodId">Giống</label>
                            <div class="col-md-10">
                                <input class="form-control" type="text" name="txtFoodBreed" id="txtFoodBreedView" readonly />
                            </div>
                        </div>
                        <h4 class="form-section"><i class="ft-info"></i> Thông Tin Thức Ăn</h4>
                        <div class="row form-group">
                            <div class="col-md-12" id="feedding-info">
                                <div class="form-control col-12"><h5>Không có thông tin</h5></div>
                            </div>
                        </div>
                        <h4 class="form-section"><i class="ft-info"></i> Thông Tin Vắc-xin</h4>
                        <div class="row form-group">
                            <div class="col-md-12" id="vaccine-info">
                                <div class="form-control col-12"><h5>Không có thông tin</h5></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>