@{
    ViewData["Title"] = "Nhà cung cấp";
}
<head>
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/vendors.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/extensions/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/buttons.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/forms/selects/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/extensions/toastr.css">
    <link rel="stylesheet" type="text/css" href="~/css/home/print.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/home/barcode.css">
    <!-- END VENDOR CSS-->
</head>
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title mb-0">Quản Lý Thực Phẩm</h3>
        </div>
    </div>
    <div class="content-body">
        <section id="file-export">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-content collapse show">
                            <div class="card-body card-dashboard">
                                <table id="provider-food-mng" class="table table-striped table-bordered file-export">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tên thực phẩm</th>
                                            <th>Giống</th>
                                            <th>Ngày nhập</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- Modal add new food info -->
<div class="modal fade text-left" id="addinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
     aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Thêm mới thông tin thực phẩm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form form-horizontal" role="form" id="formAddDetail">
                    <div class="form-body">
                        <h4 class="form-section"><i class="ft-info"></i> Thông Tin Thực Phẩm</h4>
                        <input type="hidden" id="txtTreatment" readonly />
                        <div class="row form-group">
                            <label class="col-md-2 label-control" for="txtFoodId">Mã</label>
                            <div class="col-md-10">
                                <input class="form-control" type="text" name="txtFoodId" id="txtFoodId" readonly />
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-2 label-control" for="txtFoodId">Loại</label>
                            <div class="col-md-10">
                                <input class="form-control" type="text" name="txtFoodCategory" id="txtFoodCategory" readonly />
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-2 label-control" for="txtFoodId">Giống</label>
                            <div class="col-md-10">
                                <input class="form-control" type="text" name="txtFoodBreed" id="txtFoodBreed" readonly />
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-2 label-control" for="txtFoodId">Thông Tin</label>
                            <div class="col-md-10">
                                <select class="select2" name="dllFoodDetailType" style="width: 100%" id="dllFoodDetailType"></select>
                            </div>
                        </div>
                        <div id="detailTitle">
                        </div>
                        <div class="row form-group" id="add-detail-form">

                        </div>
                        <div id="add-detail-treatment-process"></div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-outline-primary" id="addDetailConfirm">Xác nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End modal add new food info -->
<!-- Modal view food info -->
<div class="modal fade text-left" id="getinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Thông tin thực phẩm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form form-horizontal" role="form" id="formAddDetail">
                    <div class="form-body">
                        <h4 class="form-section"><i class="ft-info"></i> Thông Tin Thực Phẩm</h4>
                        <div class="row form-group">
                            <label class="col-md-2 label-control" for="txtFoodId">Mã</label>
                            <div class="col-md-10">
                                <input class="form-control" type="text" name="txtFoodId" readonly />
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-2 label-control" for="txtFoodId">Loại</label>
                            <div class="col-md-10">
                                <input class="form-control" type="text" name="txtFoodCategory" readonly />
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-2 label-control" for="txtFoodId">Giống</label>
                            <div class="col-md-10">
                                <input class="form-control" type="text" name="txtFoodBreed" readonly />
                            </div>
                        </div>
                        <h4 class="form-section"><i class="ft-info"></i> Thông tin thức ăn</h4>
                        <div class="row form-group">
                            <div class="col-md-12" id="FeedingInfo">

                            </div>
                        </div>
                        <h4 class="form-section"><i class="ft-info"></i> Thông tin vắc-xin</h4>
                        <div class="row form-group">
                            <div class="col-md-12" id="VacxinInfo">

                            </div>
                        </div>
                        <h4 class="form-section"><i class="ft-info"></i> Quy Trình Xử Lý</h4>
                        <div class="row form-group">
                            <div class="row col-md-12 " id="TreatmentInfo">

                            </div>
                        </div>
                        <div id="TreatmentProcess">
                        </div>
                        <h4 class="form-section"><i class="ft-info"></i> Thông Tin Đóng Gói</h4>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="">Ngày sản xuất</label>
                                <div class="">
                                    <input class="form-control" type="text" id="txtMFG" readonly />
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="">Hạn sử dụng</label>
                                <div class="">
                                    <input class="form-control" type="text" id="txtEXP" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- End view food info -->
<!--BEGIN QR -->
<div class="modal fade text-left" id="GetQRCode" role="dialog" aria-labelledby="myModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <section class="form-elegant scrollbar-light-blue">
                <div class="card" style="width: 100%; height: 100%; margin-bottom:0 !important;">
                    <div class="card-body mx-4">
                        <h4 class="form-section"><i class="ft-info"></i> Thông Tin Thực Phẩm</h4>
                        <div class="row form-group">
                            <label class="col-md-2 label-control" for="txtFoodId">Mã</label>
                            <div class="col-md-10">
                                <input class="form-control" type="text" id="foodId-trans" readonly />
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-2 label-control" for="txtFoodId">Loại</label>
                            <div class="col-md-10">
                                <input class="form-control" type="text" id="category-trans" readonly />
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-md-2 label-control" for="txtFoodId">Giống</label>
                            <div class="col-md-10">
                                <input class="form-control" type="text" id="breed-trans" readonly />
                            </div>
                        </div>
                        <form id="printJs-form" role="form">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="col-md-12" for="projectinput2">Chọn nhà phân phối</label>
                                    <select name="Treatment" class="select2-placeholder select2-size-lg form-control" style="width:100%" id="ddlDistributor" required></select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="col-md-12 label-control" for="txtCerNum">Mã số kiểm dịch</label>
                                    <input class="col-md-12 form-control" type="text" id="cerNum" name="CerNum" />
                                </div>
                            </div>
                            <div id="check-trans"></div>
                            <input type="hidden" id="check-treatment" readonly />
                            <input type="hidden" id="check-packaging" readonly />
                            <canvas id="barcode" hidden></canvas>
                            <div class="row justify-content-md-center" hidden>
                                <button type="button" class="btn btn-secondary col-4" onclick="printJS('barcode', 'html')">In mã barcode</button>
                                <div class="col-2"></div>
                                <a id="btnPrintBarcode" href="" onclick="download_img(this)" class="btn btn-info col-4">Tải mã barcode</a>
                            </div>
                            <div class="row justify-content-md-center mt-2">
                                <button type="submit" id="btn-transaction" class="btn btn-success col-4">Tạo giao dịch</button>
                                <div class="col-2"></div>
                                <button class="btn btn-danger col-4" data-dismiss="modal">Đóng</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!--Treatment Modal -->
<!--Treatment Modal -->
<div class="modal fade text-left" id="treatmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
     aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Quản lý quy trình</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs nav-top-border no-hover-bg">
                    <li class="nav-item">
                        <a class="nav-link active" id="base-tab11" data-toggle="tab" aria-controls="tab11"
                           href="#tab11" aria-expanded="true">Thêm mới</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="base-tab12" data-toggle="tab" aria-controls="tab12" href="#tab12"
                           aria-expanded="false">Cập nhật</a>
                    </li>
                </ul>
                <div class="tab-content px-1 pt-1">
                    <div role="tabpanel" class="tab-pane active" id="tab11" aria-expanded="true" aria-labelledby="base-tab11">
                        <form id="form-add-treatment">
                            <div class="row form-group" id="add-treatment-form">

                            </div>
                            <div id="add-treatment-error">

                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="tab12" aria-labelledby="base-tab12">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label for="projectinput2">Quy trình</label>
                                <select name="Treatment" class="select2-placeholder select2-size-lg form-control" style="width:100%" id="ddlTreatment"></select>
                                <div id="update-treatment-error">

                                </div>
                            </div>
                        </div>
                        <div id="TreatmentProcessData">

                        </div>
                        <div id="update-treatment-process-error">

                        </div>
                        <div id="MoreTreatment">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-outline-primary" id="btn-confirm">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<!-- BEGIN PAGE VENDOR JS-->
<script src="~/app-assets/vendors/js/tables/datatable/datatables.min.js" type="text/javascript"></script>
<script src="~/app-assets/vendors/js/tables/datatable/dataTables.buttons.min.js" type="text/javascript"></script>
<script src="~/app-assets/vendors/js/tables/buttons.flash.min.js" type="text/javascript"></script>
<script src="~/app-assets/vendors/js/tables/jszip.min.js" type="text/javascript"></script>
<script src="~/app-assets/vendors/js/tables/pdfmake.min.js" type="text/javascript"></script>
<script src="~/app-assets/vendors/js/tables/vfs_fonts.js" type="text/javascript"></script>
<script src="~/app-assets/vendors/js/tables/buttons.html5.min.js" type="text/javascript"></script>
<script src="~/app-assets/vendors/js/tables/buttons.print.min.js" type="text/javascript"></script>
<script src="~/app-assets/vendors/js/forms/select/select2.full.min.js" type="text/javascript"></script>
<script src="~/app-assets/vendors/js/extensions/toastr.min.js" type="text/javascript"></script>
<!-- END PAGE VENDOR JS-->
<!-- BEGIN PAGE LEVEL JS-->
<script src="~/app-assets/js/scripts/forms/select/form-select2.js" type="text/javascript"></script>
<script src="~/app-assets/js/scripts/modal/components-modal.js" type="text/javascript"></script>
<script src="~/app-assets/js/scripts/navs/navs.js" type="text/javascript"></script>
<!-- END PAGE LEVEL JS-->
<!-- My JS-->
<script src="~/js/provider/provider.js" type="text/javascript"></script>
<script src="~/lib/JsBarcode.all.min.js" type="text/javascript"></script>
<script src="~/lib/print.min.js" type="text/javascript"></script>
<script src="~/lib/JsBarcode.code128.min.js"></script>
}
